name: release-arm64-apple

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: WILDCARDS_FLAG="" NAME=clang+llvm-16.0.3-arm64-apple-darwin22.0 ./build.sh

      - name: Release artifact
        uses: softprops/action-gh-release@v1
        with:
          files: ./clang+llvm-16.0.3-arm64-apple-darwin22.0.tar.xz
